html {
  width: 100%;
  height: 100%;
}

.main-nav {
  background: black;
}

#star-wars {
  color: gold;
}

.display-table {
  width: 75%;
  margin: auto;
}

.navigation {}

.people-link {
  color: #ffab00;
}

.person-attribute {
  color: #ffab00;
}

.person-card {
  max-width: 20%;
  margin: 0 auto;
}

.year-note {
  font-size: 10px;
}