
<div class="container">
    <div class="row person-card">
        <div class="col m12 offset-l3 l6 offset-l3">
          <div class="card grey darken-3">
            <div class="card-content white-text">
              <span class="card-title person-attribute person-name">{{data.name}}</span>
              <p><span class="person-attribute">Height:</span> {{data.height}} centimeters</p>
              <p><span class="person-attribute">Mass:</span> {{data.mass}} kilograms</p>
              <p><span class="person-attribute">Birth year:</span> {{data.birth_year}}<sup>1</sup></p>
              <p><span class="person-attribute">Hair color:</span> {{data.hair_color}}</p>
              <p><span class="person-attribute">Skin color:</span> {{data.skin_color}}</p>
              <p><span class="person-attribute">Eye color:</span> {{data.eye_color}}</p>
              <br>
              <p><sup>1</sup><span class="year-note">  The birth year of the person, using the in-universe standard of BBY or ABY - Before the Battle of Yavin or After the Battle of Yavin</span></p>
            </div>
            <div class="card-action black">
              <a href="#" class="people-link">Back</a>
            </div>
          </div>
        </div>
      </div>
</div>
